{% extends 'layout.html' %}
{% block body %}

<div class="container-fluid col-4 bg-white">
    <h2 style="text-align:center">ACTUALIZAR</h2>

    <form action="/update_reporte2/{{dato.0}}" method="POST" class="p-3 mb-2 bg-white">
        <div class="mb-3 mt-3">
            <label for="pwd">Codigo alumno</label>
            <input type="text" class="form-control" placeholder="Codigo_alu" name="Codigo_alu" value="{{dato.0}}">
        </div>
        <div class="mb-3">
            <label for="pwd">Alumno</label>
            <input type="text" class="form-control" placeholder="Alumno" name="Alumno" value="{{dato.1}}">
        </div>
        <div class="mb-3">
            <label for="pwd">Area</label>
            <input type="text" class="form-control" placeholder="Descripcion_area" name="Descripcion_area"
                value="{{dato.2}}">
        </div>
        <button type="submit" class="btn btn-primary ">Enviar</button>
    </form>
</div>
<div class="container position-relative col-4 ">
    <div class="container p-2 mb-1 ">
        <div class="">
            <a class="btn btn-success " href="/reporte2">Atras</a>
        </div>
    </div>
</div>

{% endblock %}