{# Visualizar el estudiante con mayor nota en el 1er, 2do, 3er y 4to
bimestre para poder saber cuál es el estudiante de excelencia en el salón
#}
{% extends 'layout.html' %}
{% block body %}
<div class="row pt-4 p-3 mb-2 bg-white">
    <h2 style="text-align:left">Estudiante con mayor nota</h2>
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
            <tr>
                <td>Codigo alumno</td>
                <td>Alumno</td>
                <td>BI</td>
                <td>BII</td>
                <td>BIII</td>
                <td>BIV</td>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
            <tr>
                <td>{{dato.0}}</td>
                <td>{{dato.1}}</td>
                <td>{{dato.2}}</td>
                <td>{{dato.3}}</td>
                <td>{{dato.4}}</td>
                <td>{{dato.5}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row align-items-left ">
    <div class="container p-2 mb-1">
        <div class="">
            <a class="btn btn-success " href="/reportes">Atras</a>
        </div>
    </div>
</div>
{% endblock %}