{# Que muestre los nombres de los estudiantes de cada salón con su respectivo promedio y area de forma ordenada #}

{% extends 'layout.html' %}
{% block body %}
<div class="row pt-4 p-3 mb-2 bg-white">
    <h2 style="text-align:left">Promedio Estudiantes</h2>
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
            <tr>
                <td>Codigo_alu</td>
                <td>Alumno</td>
                <td>Seccion</td>
                <td>Promedio_area</td>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
            <tr>
                <td>{{dato.0}}</td>
                <td>{{dato.1}}</td>
                <td>{{dato.2}}</td>
                <td>{{dato.3}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row align-items-left ">
    <div class="container p-2 mb-1">
        <div class="">
            <a class="btn btn-success " href="/reportes">Atras</a>
        </div>
    </div>
</div>
{% endblock %}